{% from "datatable/macros.html" import fragment %}
{% if warnings and (warnings.files_without_metadata or warnings.metadata_without_files) %}
<div class="warnings" role="alert">
  {% if warnings.files_without_metadata %}
    <details>
      <summary>Files missing from the metadata CSV: {{ warnings.files_without_metadata|length }}</summary>
      <ul class="stem-list" data-warning="files-without-metadata">
        {% for stem in warnings.files_without_metadata %}<li>{{ stem }}</li>{% endfor %}
      </ul>
    </details>
  {% endif %}
  {% if warnings.metadata_without_files %}
    <details>
      <summary>CSV rows without a file: {{ warnings.metadata_without_files|length }}</summary>
      <ul class="stem-list" data-warning="metadata-without-files">
        {% for stem in warnings.metadata_without_files %}<li>{{ stem }}</li>{% endfor %}
      </ul>
    </details>
  {% endif %}
</div>
{% endif %}
{{ fragment(table, view, selected) }}
